.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 16px;
  /* transition: transform 0.3s ease; */
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.card p {
  margin: 8px 0;
}

/* .card:hover {
  transform: translateY(-5px);
} */


.highlight-product {
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
  -mox-box-shadow: 0 0 1px 3px #000 inset;
  border: #efefef 2px solid;
  box-shadow: 10px 10px 10px #ccc;
  transform: scale(1.0s);
}